* {
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./../fonts/roboto-v30-latin-regular.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./../fonts/roboto-v30-latin-500.woff2') format('woff2'); 
    
  }
  @font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
  }

body, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1460px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-side {
    display: flex;
}

ul, ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}



/* ----------------------header---------------------- */
.header {
    width: 100%;
    height: 44px;
    background-color: #2ea97d;
}




/* -----------------------left side------------------ */
.left-side {
    max-width: 200px;
    width: 100%;
    height: calc(100vh - 44px);
    background-color: #856EC6;

}

/* ------------------------main side-------------------- */
.main-side {
    width: calc(100% - 200px);
    height: calc(100vh - 44px);
 
    background-color: #f0f0f0;
    padding-top: 20px;
    padding-left: 32px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.main-side__heading-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.main-side__heading {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #181A19;
}

.main-side__heading + img {
    width: 3px;
    height: 8px;
    color: #386e56;
    margin: 0px 8px
}



.main-side__counter {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #6D7471;
}

.main-side__all-lists-wrapper {
    width: 1250px;
}

.main-side__list-wrapper {
  
    max-width: 284px;
    width: 100%;
    height: calc(100vh - 120px);
    border: 1px solid #C9D2CE;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 26px;
    float: left;
    

}

.main-side__list {
    overflow-y: auto;  
    overflow-x: hidden; 
}

.main-side__list-name {
    width: 274px;
    display: flex;
    justify-content: left;
    border-radius: 3px 3px 0px 0px;
    align-items: baseline;
    padding: 12px 12px 12px 9px;
    background: #F2FAF6;
    border-bottom: 1px solid #C9D2CE;
    
    color: #414644;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    margin-bottom: 12px;
    
}

.main-side__list-heading2 {
    font-weight: bold;
    /* line-height: 10px; */
    /* border: 2px solid red; */
}

.main-side__list-heading2 + img {
    width: 3px;
    height: 8px; 
    margin: 0px 4px;
    
}

.main-side__item {
    width: 258px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12px;

    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.15) inset, 0px 2px 0px 0px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 12px;
    position: relative;

}


.list__proffestion-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
}

.list__proffestion    {
    overflow: hidden;
    color:  #181A19;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.list-heading + img {
    width: 20px;
    height: 20px;
}

.list__proffession-area {
    width: 186px;
    height: 14px;
    flex-shrink: 0;
    overflow: hidden;
    color:  #6D7471;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
}

.list__condition-wrapper {
    width: 186px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}


.list__condition {
    display: flex;
    align-items: center;
    color:  #856EC6;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 4px;
    background: #F6F2FF;
    padding: 4px 8px;
}

.list_count-1, .list_count-2 {
    display: flex;
    align-items: center;

    color:  #414644;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 4px;
    padding: 4px 4px;
    border: 1px solid #EBF3EF;
    background:  #FAFFFC;
}

.list_count-1::before, .list_count-2::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 16px  16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
}

.list_count-1::before {
    background-image: url('../images/tabler_users.svg');
}

.list_count-2::before {
    background-image: url('../images/tabler_file-description.svg');    
}

.list__personal-image {
    display: flex;
    align-items: center;
    justify-content: left;
}

.list__personal-image img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.list__personal-image p {
    width: 150px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list__personal-image p:nth-child(1) {
    margin-bottom: 2px;
    color:  #969F9B;    
}

.list__personal-image p:nth-child(2) {
    color:  #414644;    
}






