.main-side__all-lists-wrapper {
    width: 1250px;
}


.main-side__list-wrapper {
  
    max-width: 284px;
    width: 100%;
    height: calc(100vh - 120px);
    border: 1px solid #C9D2CE;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-right: 26px;
    float: left;
}
