/* .container-drag {
    text-align: center;
    background-color: gray;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}


.wip, .droppable {
    width: 400px;
    height: 800px;
    background-color: rgb(207, 130, 130);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.droppable {
    background-color: brown;
}

.wip div, .droppable div {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 */



 .container {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .liquid, .plastic {
    width: 400px;
    height: 800px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .plastic  {
    background-color: brown;
 }

 .liquid div, .plastic div {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
 }